body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #EBEBEB;
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--body-color);
}
