.love {

}
    .love__inner {
        padding: 75px 40px 34px;
        background-color: #FFFFFF;
        border-radius: 55px;
    }
        .love__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .love__viewport {
            margin-top: 65px;
        }



@media (width < 740px) {

    .love {
        background-color: #FFFFFF;
        padding-top: 40px;
        padding-bottom: 80px;
    }
        .love__inner {
            padding: 0;
            /*background-color: #FFFFFF;*/
            /*border-radius: 55px;*/
        }
            .love__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }
                .love__heading.title,
                .love__heading .title {
                    font-size: 30px;
                    line-height: 34px;
                }

            .love__viewport {
                margin-top: 32px;
            }
}
