.product {
    display: grid;
    grid-template-columns: 51.5625% 48.4375%;
    grid-template-rows: auto auto auto auto; /* Define rows */
}
    .product__preview {
        grid-column: 1;
        grid-row: 1 / 5; /* Make it span from the first to the last row */
        align-self: center;
    }
        .product__image {
            vertical-align: top;
            width: 100%;
            height: auto;
            background-color: #FFFFFF;
        }

        .product__heading {
            grid-column: 2;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
        }

        .product__headline {
            grid-column: 2;
            margin-top: 22px;
            font-size: 24px;
            line-height: 29px;
        }

        .product__description {
            grid-column: 2;
            margin-top: 26px;
        }

        .product__actions {
            grid-column: 2;
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
        }



@media (width < 740px) {

    .product {
        display: block;
        /*grid-template-columns: 51.5625% 48.4375%;*/
    }
        .product__preview {
            max-width: 400px;
        }
            .product__image {
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*height: auto;*/
                /*background-color: #FFFFFF;*/
            }


        .product__body {
            /*align-self: center;*/
            padding-left: 0;
            margin-top: 50px;
        }
            .product__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: bold;*/
                /*font-size: 48px;*/
                /*line-height: 48px;*/
            }

            .product__headline {
                /*margin-top: 22px;*/
                /*font-size: 24px;*/
                /*line-height: 29px;*/
            }

            .product__description {
                /*margin-top: 26px;*/
            }

            .product__actions {
                /*margin-top: 40px;*/
                /*display: flex;*/
                /*align-items: center;*/
                /*gap: 20px;*/
            }
}
