:root {
    --font: "DM Sans", sans-serif;
    --body-font-size: 16px;
    --body-line-height: 24px;
    --body-color: #2B2B2B;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-show: 1200ms var(--ease-out-quint);
    --container-padding: 40px;
    --action-color: #6633FF;
    --action-color-hover: #7648FF;
    --header-height: 72px;
    --max-mobile-image-width: 400px;
}

@media (350px <= width < 600px) {
    :root {
        --container-padding: 24px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
