/* Pagination is common for both sliders */

.swiper--love .swiper-pagination {
    margin-top: 35px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .swiper--love .swiper-pagination-bullet {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 36px;
        border-radius: 0;
        background-color: transparent;
        opacity: 100%;
    }
        .swiper--love .swiper-pagination-bullet::after {
            content: "";
            width: 9px;
            height: 9px;
            border: 1px solid #9a9a9a;
            border-radius: 50%;
        }

        .swiper--love .swiper-pagination-bullet:hover::after {
            border-color: #6633ff;
        }

        .swiper--love .swiper-pagination-bullet-active::after {
            border-color: #6633ff;
            background-color: #6633ff;
        }




/* Desktop slider.
 *
 * Use:
 * grid: {
 *   rows: 2,
 *  },
 * in initialization script to make it utilize two rows. But beware that original
 * implementation lacks styling. Originally it can only worked with fixed height of
 * parental wrapper. In this example: https://swiperjs.com/demos#grid
 * it is body { height: 100% } and it won't work with free height
 * So we rewrite it. Use CSS grid and fill it with two rows and unlimited columns.
 */

@media (741px <= width) {

    .swiper--love {

    }
        .swiper--love .swiper-wrapper {
            height: auto !important;
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-auto-flow: column;
            gap: 40px 0;
        }

        .swiper--love .swiper-slide {
            margin-top: 0 !important;
            height: 100% !important;
        }
}


