.theme {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 106px 40px;
}
    .theme__full-screenshot {
        display: block;
    }
        .theme__full-image {
            vertical-align: top;
            width: 100%;
            height: auto;
            background-color: #FFFFFF;
            border-radius: 60px;
        }

    .theme__content {
        padding-top: 2px;
    }
        .theme__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: normal;
        }

        .theme__description {
            margin-top: 42px;
        }

        .theme__actions {
            margin-top: 54px;
        }

        .theme__price-note {
            margin-top: 46px;
            font-size: 11px;
            line-height: 14px;
        }

    .theme__more-screenshots {

    }
        .theme__bg-wrap {
            padding: 62px 66px;
            background-color: #D6D5D5;
            border-radius: 60px;
        }
            .theme__partial-screenshot {
                display: block;
                margin-top: 40px;
            }

            .theme__partial-screenshot:first-child {
                margin-top: 0;
            }
                .theme__partial-image {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    background-color: #FFFFFF;
                    border-radius: 30px;
                }

        .theme__demo-note {
            margin-top: 20px;
            font-size: 11px;
            line-height: 14px;
            text-align: center;
        }



@media (width < 740px) {

    .theme {
        margin-top: 80px;
        display: block;
    }
        .theme__full-screenshot {
            margin-top: 24px;
        }

        .theme__full-screenshot:first-child {
            margin-top: 0;
        }
            .theme__full-image {
                border-radius: 24px;
            }

        .theme__content {
            margin-top: 40px;
        }
            .theme__heading {

            }
                .theme__heading.title,
                .theme__heading .title {
                    font-size: 32px;
                    line-height: 40px;
                }

            .theme__description {
                margin-top: 24px;
            }

            .theme__actions {
                margin-top: 24px;
            }

            .theme__price-note {
                margin-top: 24px;
            }

        .theme__more-screenshots {
            margin-top: 40px;
        }
            .theme__bg-wrap {
                padding: 0;
                background-color: transparent;
            }
                .theme__partial-screenshot {
                    margin-top: 24px;
                }

                .theme__partial-screenshot:first-child {

                }
                    .theme__partial-image {
                        max-width: 400px;
                    }

            .theme__demo-note {
                text-align: left;
            }
}

