.up-to-date {
    margin-top: 146px;
}
    .up-to-date__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .up-to-date__description {
        margin: 23px auto 0;
        max-width: 880px;
        text-align: center;
    }

    .up-to-date__subscription {
        max-width: 500px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }



@media (width < 740px) {

    .up-to-date {
        margin-top: 80px;
    }
        .up-to-date__heading {

        }

        .up-to-date__description {
            /*margin: 23px auto 0;*/
            /*max-width: 880px;*/
            /*text-align: center;*/
        }

        .up-to-date__subscription {
            /*max-width: 500px;*/
            margin-top: 40px;
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
}

@media (width < 370px) {
    .up-to-date__subscription {
        margin-left: -8px;
        margin-right: -8px;
    }
}
