.why {
    padding-top: 70px;
    padding-bottom: 120px;
    background-image: url("../images/why-rays@1x.png"), linear-gradient(#3B14AD, #250094);
    background-size: 651px 459px, 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: 57.5% 0;
    color: #FFFFFF;
    border-radius: 60px;
}

@media (min-resolution: 1.5dppx) {
    .why {
        background-image: url("../images/why-rays@2x.png"), linear-gradient(#3B14AD, #250094);
    }
}

    .why__heading {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }

    .why__list {
        margin-top: 80px;
        padding-right: 128px;
        padding-left: 108px;
        display: grid;
        grid-template-columns: 430fr 400fr 200fr;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
        justify-content: space-between;
        gap: 36px 0;
    }

    @media (width < 1340px) {
        .why__list {
            grid-template-columns: 430fr 380fr 240fr;
        }
    }

        .why__item {
            position: relative;
            padding-left: 38px;
            display: flex;
            align-items: center;
            /*padding-top: 18px;*/
            /*padding-bottom: 18px;*/
            font-size: 18px;
            line-height: 24px;
        }
            .why__preview {
                position: absolute;
                left: -10px;
                top: 50%;
                margin-top: -20px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .why__icon {
                    vertical-align: middle;
                    fill: currentColor;
                }
